body {
	background-color: rgba(18, 77, 227, 0.465);
	font-family: 'Rubik Dirt',
		cursive;
}

.hello,
.hello-two {
	font-weight: 500;
	color: orange;
}

.menu>li {
	border: 1px solid tomato;
}

a[href="https://htmlreference.io"] {
	color: teal;
}

a[href="https://cssreference.io"] {
	color: orange;
}

a[href="https://www.youtube.com"] {
	color: tomato;
}

.hover .link {
	color: teal;
}

.hover .link:hover {
	color: tomato;
}

.focus .social-links .link {
	color: teal;
}

.focus .social-links .link:hover,
.focus .social-links .link:focus {
	color: orange;
}

.focus .social-links .link:active {
	color: red;
}

.focus .social-links .link:visited {
	color: green;
}

.train-pseudo .schedule-body>tr:hover {
	background-color: tomato;
	color: white;
}

/* Оформлення таблиці */
.train-pseudo .schedule {
	border-collapse: collapse;
}

.train-pseudo .schedule th,
.schedule td {
	padding: 8px;
	border: 1px solid #212121;
}

/* Variables */
:root {
	--brand-color: #1e3be0;
	--first-color: #7d8ce0;
	--second-color: #4c5271;
}

.variables-list {
	color: var(--first-color);
	background-color: var(--brand-color, red);
}

.variables-list-item-one {
	color: var(--first-color);
}

.variables-list-item-two {
	color: var(--second-color);
}

.variables-list-item-three {
	color: var(--first-color);
}

/* text-align  */
.post-title {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

/* line-height */
.line-height {
	line-height: 1.5;
	color: tomato;
}

/* text-shadow */
.text-shadow {
	color: teal;
	text-shadow: 2px 2px 10px #ff0000,
		5px 5px 5px teal;
}

/* white-space */
.white-space {
	width: 300px;
}

.white-space-normal {
	white-space: normal;
}

.white-space-nowrap {
	white-space: nowrap;
}

.white-space-pre {
	white-space: pre;
}

.white-space-pre-wrap {
	white-space: pre-wrap;
}